<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="data:,">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dhwani</title>
  </head>
  <body>
    <div id="root" v-scope>
      <div class="is-full-screen is-vertical-align is-horizontal-align">
        <div class="container row bg-white is-paddingless" style="height: 68rem;">
          <div class="bg-dark text-light col-4 is-marginless">
            <img :src="nowPlaying.thumbnail" alt="album-art">
            <div class="flex px-1" style="justify-content: space-between;">
              <div><strong>{{ nowPlaying.title }}</strong></div>
            </div>
            <audio id="player" class="bg-dark is-full-width" controls>
              Your browser does not support the
              <code>audio</code> element.
            </audio>
          </div>
          <div class="flex column col">
            <nav class="tabs is-full text-uppercase">
              <a href="#" class="active">Search</a>
              <!-- <a href="#">Queue</a> -->
              <!-- <a href="#">Playlist</a> -->
              <!-- <a href="#">Settings</a> -->
            </nav>
            <div class="flex column py-1">
              <form class="grouped" @submit="search">
                <input type="text" placeholder="Search" v-model="searchQuery" required>
                <button class="button primary" type="submit">Search</button>
              </form>
              <div v-if="searchResults.length === 0" class="text-center">
                <h4 class="text-grey">
                  Search something!
                </h4>
              </div>
              <table v-else class="striped" style="flex: 1;">
                <tbody class="d-block overflow-auto" style="height: 58rem;">
                  <tr v-for="item in searchResults" :key="item.url">
                    <td class="is-full-width">{{ item.title }}</td>
                    <td>
                      <button class="button icon clear" @click="playAudio(item.url)">
                       ▶️
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
