@import url('chota');

:root {
  --bg-color: #1d1d1d;
}

.bg-white { background-color: #ffffff; }
.flex { display: flex; }
.flex.column { flex-direction: column; }
.px-1 { padding-left: 1rem; padding-right: 1rem; }
.py-1 { padding-top: 1rem; padding-bottom: 1rem; }
.d-block { display: block; }
.overflow-auto { overflow: auto; }
